<div class="img-wrapper row">
    <div class="link-wr">
        <img src="/images/best-of/best-of-frites.jpg" />

        <a href="#" class="best-of-frites-2" data-toggle="popover" data-content="<h4>L’aller-retour</h4> <p>5 Rue Charles-François Dupuis, 75003 Paris, France</p> <p>+33 1 42 78 01 21</p>
            {{#if session.user}}
                <p><a class='btn btn-info add-restaurant' data-id='102'>ADD TO MY LIST</a></p>
            {{else}}
                <p><a href='#' class='btn btn-info login-modal'>ADD TO MY LIST</a></p>
            {{/if}}
        "></a>

        <a href="#" class="best-of-frites-3" data-toggle="popover" data-content="<h4>Frenchie to Go</h4> <p>9 rue du Nil 75002 Paris</p> <p><a href='http://www.frenchie-restaurant.com'>www.frenchie-restaurant.com</a></p>
            {{#if session.user}}
                <p><a class='btn btn-info add-restaurant' data-id='143'>ADD TO MY LIST</a></p>
            {{else}}
                <p><a href='#' class='btn btn-info login-modal'>ADD TO MY LIST</a></p>
            {{/if}}
        "></a>

        <a href="#" class="best-of-frites-4" data-toggle="popover" data-content="<h4>L’avant-Comptoir</h4> <p>9 Carrefour de l’Odéon 75006 Paris</p>
            {{#if session.user}}
                <p><a class='btn btn-info add-restaurant' data-id='191'>ADD TO MY LIST</a></p>
            {{else}}
                <p><a href='#' class='btn btn-info login-modal'>ADD TO MY LIST</a></p>
            {{/if}}
        "></a>
    </div>
</div>

{{> carousel-bestof}}