<div class="img-wrapper">
    <div class="link-wr">
        <img src="/images/best-of/best-of-chinese.jpg" />

        <a href="#" class="best-of-chinese-1" data-toggle="popover" data-content="<h4>Dong Fa</h4> <p>26 rue de Belleville 75020 Paris</p> <p>01 43 58 65 68</p>
            {{#if session.user}}
                <p><a class='btn btn-info add-restaurant' data-id='77'>ADD TO MY LIST</a></p>
            {{else}}
                <p><a href='#' class='btn btn-info login-modal'>ADD TO MY LIST</a></p>
            {{/if}}
        "></a>

        <a href="#" class="best-of-chinese-2" data-toggle="popover" data-content="<h4>Les délices de Shan Dong</h4> <p>88 Boulevard de l'Hôpital, 75013 Paris, France</p> <p>+33 1 45 87 23 37</p> <p><a href='http://www.deliceshandong.com'>www.deliceshandong.com</a></p>"></a>

        <a href="#" class="best-of-chinese-3" data-toggle="popover" data-content="<h4>Shang Palace</h4> <p>10 Avenue d'Iéna, 75116 Paris, France</p><p>+33 1 53 67 19 92</p>
            {{#if session.user}}
                <p><a class='btn btn-info add-restaurant' data-id='78'>ADD TO MY LIST</a></p>
            {{else}}
                <p><a href='#' class='btn btn-info login-modal'>ADD TO MY LIST</a></p>
            {{/if}}
        "></a>
    </div>
</div>

{{> carousel-bestof}}