<div class="img-wrapper"  style="margin-left:150px;">
    <img src="/images/coup-de-coeur/coup-de-coeur-abri.jpg" />

    <a href="#" class="coup-de-coeur-1" data-toggle="popover" data-content="<h4>Abri</h4> <p>92 rue du Faubourg Poissonnière 75010 Paris</p>
        {{#if session.user}}
            <p><a class='btn btn-info add-restaurant' data-id='151'>ADD TO MY LIST</a></p>
        {{else}}
            <p><a href='#' class='btn btn-info login-modal'>ADD TO MY LIST</a></p>
        {{/if}}
    "></a>
</div>

{{> carousel-coup-de-coeur}}