<div class="img-wrapper">
    <div class="link-wr">
        <img src="/images/coup-de-coeur/coup-de-coeur-aki.jpg" />

        <a href="#" class="coup-de-coeur-2" data-toggle="popover" data-content="<h4>Aki’s Cold Soba</h4> <p>Aki, 11 Rue Sainte-Anne, 75001 Paris, France</p> <p>+33 1 42 97 54 27</p>"></a>
    </div>
</div>

{{> carousel-coup-de-coeur}}