<div class="img-wrapper"">
    <div class="link-wr">
        <img src="/images/coup-de-coeur/coup-de-coeur-nanashi.jpg" />

        <a href="#" class="coup-de-coeur-7" data-toggle="popover" data-content="<h4>Nanashi's Don Karaage</h4> <p>31 rue de Paradis 75010 Paris</p> <p><a href='http://www.nanashi.fr'>www.nanashi.fr</a></p>
            {{#if session.user}}
                <p><a class='btn btn-info add-restaurant' data-id='153'>ADD TO MY LIST</a></p>
            {{else}}
                <p><a href='#' class='btn btn-info login-modal'>ADD TO MY LIST</a></p>
            {{/if}}
        "></a>
    </div>
</div>

{{> carousel-coup-de-coeur}}