<div class="img-wrapper">
    <div class="link-wr">
        <img src="/images/coup-de-coeur/coup-de-coeur-clint.jpg" />

        <a href="#" class="coup-de-coeur-5" data-toggle="popover" data-content="<h4>Mac and cheese with bacon at Clint</h4> <p>Clint, 174 rue de la Roquette 75011 Paris</p> <p><a href='http://www.clint-restaurant.com'>www.clint-restaurant.com</a></p>
            {{#if session.user}}
                <p><a class='btn btn-info add-restaurant' data-id='3'>ADD TO MY LIST</a></p>
            {{else}}
                <p><a href='#' class='btn btn-info login-modal'>ADD TO MY LIST</a></p>
            {{/if}}
        "></a>
    </div>
</div>

{{> carousel-coup-de-coeur}}