<div class="img-wrapper">
    <div class="link-wr">
        <img src="/images/coup-de-coeur/coup-de-coeur-amorino.jpg" />

        <a href="#" class="coup-de-coeur-3" data-toggle="popover" data-content="<h4>Amorino</h4> <p>39 rue des Abbesses 75018 Paris</p> <p><a href='http://www.amorino.com'>www.amorino.com</a></p>"></a>
    </div>
</div>

{{> carousel-coup-de-coeur}}