<div class="top row" style="background: url('/images/homepage/top.jpg') top center no-repeat transparent;">
    <div class="col-xs-2"></div>
    <div class="col-xs-9 content">
        <div id="header-wr">
            <h1>DISCOVER THE BEST<br/>
                KEPT SECRETS<br/>
                OF PARIS FOODIE<br/>
                SCENE</h1>
            <a href="#"><img src="/images/homepage/app-store.png"></a>
        </div>
        <img src="/images/homepage/iphone-app.png" class="application"/>
    </div>
    <div class="col-xs-1"></div>
</div>
<div class="row carousel-wrapper">
    <div class="slider multiple-items">
        <div><a href="/gregory">
            <img src="/images/homepage/greg.jpg"/>
            <div class="inner-text">
                <h2>GREGORY MARCHAND</h2>
                <h4>picks</h4>
            </div>
        </a></div>
        <div><a href="/tony"><img src="/images/homepage/toni.jpg"/>
            <div class="inner-text">
                <h2>TONY CHAMBERS</h2>
                <h4>recommends</h4>
            </div>
        </a></div>
    </div>
</div>
<div class="row bottom">
    <h2>ABOUT US</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a neque sed risus pellentesque pharetra sed eu libero. Phasellus facilisis ornare massa sit amet semper. Vivamus iaculis, elit in ornare tincidunt, nulla turpis consectetur quam, eget dapibus nisl nisi sed tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam ut ultricies sapien. Donec varius dolor id quam posuere maximus. Morbi aliquam sit amet nisl sit amet aliquet. Sed nec convallis eros. Vestibulum diam est, aliquet eget orci non, vestibulum sagittis odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec suscipit ullamcorper consectetur.
    </p>
</div>

<script src="/javascripts/slick.min.js"></script>
<link rel='stylesheet' href='/stylesheets/slick.css' />
<script type="text/javascript">
    $('.multiple-items').slick({
        dots: false,
        infinite: false,
        slidesToShow: 2,
        slidesToScroll: 1,
        onAfterChange: function(sl, index){
            $(".slick-active a").first().css('margin-right', '5px').css('margin-left', '0px');
            $(".slick-active a").last().css('margin-left', '5px').css('margin-right', '0px');
        }
    });
    $(".slick-active a").first().css('margin-right', '5px');
    $(".slick-active a").last().css('margin-left', '5px');
</script>

