<div class="img-wrapper">
    <img src="/images/home-map.jpg" />
    <div id="home-chief-info">
        <h4><i>MARIE ALINE</i></h4>
        <p>PARIS EATS EDITOR IN CHIEF IDENTIFIED HER FAVOURITE LOCATIONS</p>
    </div>
    <a href="#" class="home-link-1"></a>
    <a href="#" class="home-link-2"></a>
    <a href="#" class="home-link-3"></a>
    <a href="#" class="home-link-4"></a>
    <a href="#" class="home-link-5"></a>
    <a href="#" class="home-link-6"></a>
    <a href="#" class="home-link-7"></a>
    <a href="#" class="home-link-8"></a>
    <a href="#" class="home-link-9"></a>
    <a href="#" class="home-link-10"></a>
    <a href="#" class="home-link-11"></a>
    <a href="#" class="home-link-12"></a>
    <a href="#" class="home-link-13"></a>
    <a href="#" class="home-link-14"></a>
    <a href="#" class="home-link-15"></a>
    <a href="#" class="home-link-16"></a>
    <a href="#" class="home-link-17"></a>
    <a href="#" class="home-link-18"></a>
    <a href="#" class="home-link-19"></a>
    <a href="#" class="home-link-20"></a>
    <a href="#" class="home-link-21"></a>
    <a href="#" class="home-link-22"></a>
    <a href="#" class="home-link-23"></a>
</div>

