<div class="top row" style="background: url('/images/homepage/top.jpg') top center no-repeat #000;">
    <div class="row" style="width: 96%">
        <div class="col-xs-2"></div>
        <div class="col-xs-9 content">
            <div id="header-wr">
                <h1>MAKE EVERY BITE COUNT</h1>
                <a href="javascript:void(0)"><img src="/images/homepage/coming_soon.png"></a>
            </div>
            <img src="/images/homepage/iphone-app-v3.png" class="application"/>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
<div class="row" style="background:#fff;">
<div class="container index-wr">
    <section>
        <h3>DISCOVER PARIS RESTAURANTS & MORE WORTH TRAVELING FOR</h3>
        <p><i>a culinary-travel app built with creativity, smart palate, and love from ParisEaters</i></p>
        <h4 id="about-the-app">features</h4>
        <img src="/images/homepage/screenshots.png" style="padding: 10px 0; max-width: 100%;text-align: center;">
        <p>a highly <span>curated selection</span> of Paris restaurants, cafés, patisseries, bars and markets<br/>
            from a team of discerning Parisians and New Yorkers<br/>
            creative, intuitive design for <span>on-the-go efficiency<br/>
            search by moment</span> (brunch, lunch, dinner, drinks) - as well as proximity, price,<br/>
            vibe and key words to ensure a culinary experience and scene <span>to match your mood</span><br/>
            create and <span>share your custom list</span> of Paris restaurants with friends or keep<br/>
            as 'souvenirs' for return visits</p>
    </section>

    <div class="row bottom">
        <div class="col-xs-1 col-lg-2"></div>
        <div class="col-xs-10 col-lg-8">
            <p style="color: #e64121;">Be the first to know about latest updates. Subscribe to our mailing list</p>
            <div id="submit-wr" style="padding:10px 0px; margin:0 150px 10px 150px;">
                <form role="form" id="subscribe"  action="/subscribe">
                    <div class="form-group">
                        <div class="input-group input-group">
                            <span class="input-group-addon">@</span>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Email address is invalid" required name="email">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-warning" type="submit" id="subscribe-button">Submit</button>
                            </span>
                        </div>
                        <span class="help-block with-errors" style="font-size: 14px">We promise not to spam</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-1 col-lg-2"></div>
    </div>

    <h2 style="text-align: center;padding-top: 20px;">Movers and Eaters share their Paris picks</h2>
    <div class="row carousel-wrapper">
        <div class="slider multiple-items">
            <div><a href="/gregory">
                <img src="/images/homepage/frenchie.png"/>
                <div class="inner-text">
                    <h3>Gregory Marchand</h3>
                    <h4>Chef at Frenchie<br/>Paris, France</h4>
                </div>
            </a></div>
            <div><a href="/tony"><img src="/images/homepage/tony2.png"/>
                <div class="inner-text">
                    <h3>Tony Chambers</h3>
                    <h4>Wallpaper<br/>Editor in Chief</h4>
                </div>
            </a></div>
            <div><a href="/carlo"><img src="/images/homepage/carlo.png"/>
                <div class="inner-text">
                    <h3>Carlo Mirarchi</h3>
                    <h4>Chef at Roberta's and Blanca<br/>Brooklyn, USA</h4>
                </div>
            </a></div>
            <div><a href="/yak"><img src="/images/homepage/yak.png"/>
                <div class="inner-text">
                    <h3>Yacine Aït Kaci aka YAK</h3>
                    <h4>Artist, Creator of Elyx<br/> Paris, France</h4>
                </div>
            </a></div>
        </div>
    </div>
</div>
</div>

<script>
    window.ParsleyConfig = {
        errorClass: 'has-error',
        successClass: 'has-success',
        classHandler: function(ParsleyField) {
            return ParsleyField.$element.parents('.form-group');
        },
        errorsContainer: function(ParsleyField) {
            return ParsleyField.$element.parents('.form-group');
        },
        errorsWrapper: '<span class="help-block">',
        errorTemplate: '<div></div>'
    };
</script>
<script src="/javascripts/parsley.min.js"></script>
<script src="/javascripts/slick.min.js"></script>
<script src="/javascripts/custom/subscribe.js"></script>
<link rel='stylesheet' href='/stylesheets/slick.css' />
<script type="text/javascript">
    //$('form#subscribe').parsley();
    if(screen.width < 500){
        $('.multiple-items').slick({
            dots: false,
            infinite: false,
            slidesToShow: 2,
            slidesToScroll: 1,
            onAfterChange: function (sl, index) {
                $(".slick-active a").first().css('margin-right', '5px').css('margin-left', '0px');
                $(".slick-active a").last().css('margin-left', '5px').css('margin-right', '0px');
            }
        });
    } else {
        $('.multiple-items').slick({
            dots: false,
            infinite: false,
            slidesToShow: 4,
            slidesToScroll: 1,
            onAfterChange: function (sl, index) {
                $(".slick-active a").css('margin-right', '5px').css('margin-left', '5px');
                $(".slick-active a").last().css('margin-left', '5px').css('margin-right', '0px');
            }
        });
    }
    $(".slick-active a").css('margin-right', '5px');
    //$(".slick-active a").last().css('margin-left', '5px');
</script>

