<div class="top row" style="background: url('/images/homepage/top.jpg') top center no-repeat #000;">
    <div class="container">
        <div class="col-xs-2"></div>
        <div class="col-xs-9 content">
            <div id="header-wr">
                <h1>DISCOVER THE BEST<br/>
                    KEPT SECRETS<br/>
                    OF PARIS FOODIE<br/>
                    SCENE</h1>
                <a href="javascript:void(0)"><img src="/images/homepage/app-store_coming.png"></a>
            </div>
            <img src="/images/homepage/iphone-app-v3.png" class="application"/>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
<div class="container">
    <div class="row carousel-wrapper">
        <div class="slider multiple-items">
            <div><a href="/gregory">
                <img src="/images/homepage/greg.jpg"/>
                <div class="inner-text">
                    <h2>GREGORY MARCHAND</h2>
                    <h4>picks</h4>
                </div>
            </a></div>
            <div><a href="/tony"><img src="/images/homepage/toni.jpg"/>
                <div class="inner-text">
                    <h2>TONY CHAMBERS</h2>
                    <h4>recommends</h4>
                </div>
            </a></div>
        </div>
    </div>
    <div class="row bottom">
        <div class="col-xs-1 col-lg-2"></div>
        <div class="col-xs-10 col-lg-8">
            <h2 id="about-the-app">About the app</h2>
            <p>Bienvenue! With love and creativity from Paris comes the culinary travel app you've been waiting for. A go-to guide for creative, culinary driven travelers to the City of Lights, Paris Eats offers a highly curated selection of Paris' restaurants, cafés, patisseries, bars and more from acclaimed French food critic Marie Aline (Author of Must Eat! and Food/Travel Writer for GQ France).
            </p>
            <p>Coupling bold design with intuition, Paris Eats filters venues by proximity and time to ensure an optional culinary experience. What that means for you? Your meals fit your mood - perfectly.</p>
            <p>Our philosophy at Paris Eats is always centered on curation, we believe that just as all restaurants are not created equal, all meals (even in the same restaurant) are often not created equally.  It’s always about finding the right place, at the right time to fit a certain mood, a budget, and make the most of that moment.</p>

            <p style="color: #e64121; margin-top:100px;">Be the first to know about latest updates. Subscribe to our mailing list</p>

            <div id="submit-wr" style="padding:10px 0px; margin:0 150px 10px 150px;">
                <form role="form" id="subscribe"  action="/subscribe">
                    <div class="form-group">
                        <div class="input-group input-group">
                            <span class="input-group-addon">@</span>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Email address is invalid" required name="email">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-warning" type="submit" id="subscribe-button">Submit</button>
                            </span>
                        </div>
                        <span class="help-block with-errors" style="font-size: 14px">We promise not to spam</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-1 col-lg-2"></div>
    </div>
</div>

<script>
    window.ParsleyConfig = {
        errorClass: 'has-error',
        successClass: 'has-success',
        classHandler: function(ParsleyField) {
            return ParsleyField.$element.parents('.form-group');
        },
        errorsContainer: function(ParsleyField) {
            return ParsleyField.$element.parents('.form-group');
        },
        errorsWrapper: '<span class="help-block">',
        errorTemplate: '<div></div>'
    };
</script>
<script src="/javascripts/parsley.min.js"></script>
<script src="/javascripts/slick.min.js"></script>
<script src="/javascripts/custom/subscribe.js"></script>
<link rel='stylesheet' href='/stylesheets/slick.css' />
<script type="text/javascript">
    //$('form#subscribe').parsley();
    $('.multiple-items').slick({
        dots: false,
        infinite: false,
        slidesToShow: 2,
        slidesToScroll: 1,
        onAfterChange: function(sl, index){
            $(".slick-active a").first().css('margin-right', '5px').css('margin-left', '0px');
            $(".slick-active a").last().css('margin-left', '5px').css('margin-right', '0px');
        }
    });
    $(".slick-active a").first().css('margin-right', '5px');
    $(".slick-active a").last().css('margin-left', '5px');
</script>

