<div class="top row" style="background: url('/images/top/yak_big.png') center center no-repeat #000000;">
    <div class="row" style="width: 96%">
        <div class="col-xs-11 masters">
            <a href="#" class="author emerge" data-img="/images/top/yak_big.png">Back to Author</a>
            <a href="#" class="map emerge" data-img="/images/top/yak_map.png">see the map</a>
        </div>
        <div class="col-xs-1">

        </div>
    </div>
    <div class="head-wrapper">
        <h1>Yacine Aït Kaci aka YAK</h1>
        <h3>Artist, creator of Elyx<br/> Paris, France</h3>
    </div>
</div>
<div class="container">
    <div class="row restaurant-carousel">
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="slider multiple-items col-md-8 col-xs-12 col-sm-12">
            <!--<div>
                <h2>&nbsp;</h2>
                <p><b>The city of lights opened my eyes to many possibilities in the world of art, design, and architecture. Paris is really a second home for me after London. I am easily in Paris at least six times a year, traveling back and forth on Eurostar.</b></p>
            </div>-->
            <div>
                <h2>Place des Vosges</h2>
                <h4>Place des Vosges, 75004 Paris</h4>
                <p>My character Elyx was born here in May 2012. I was looking for the most expressive character with the least amount of lines. Then he appeared, sitting against a tree.</p>
            </div>
            <div>
                <h2>Café de la Presse</h2>
                <h4>36, boulevard de la Bastille. Paris</h4>
                <p>This is my headquarters, so Elyx’s as well…</p>
            </div>
            <div>
                <h2>Le café pinson</h2>
                <h4>6 Rue du Forez, 75003 Paris</h4>
                <p>I often take my breakfast here. As I am trying to become vegetarian, I look for places where vegetarians are not punished… where the Epicurean dimension exists.</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='95'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>La galerie Bettina</h2>
                <h4>2 Rue Bonaparte, 75006 Paris</h4>
                <p>It is a photo gallery and library next to the Fine Arts school. I have been on exhibit there since May 2014 and you can buy my prints here.</p>
            </div>
            <div>
                <h2>Tien Hiang (La vache carrée)</h2>
                <h4>14 Rue Bichat, 75010 Paris</h4>
                <p>This is a Vietnamese restaurant that makes everything with tofu but somehow it tastes like meat. As eventually I think we will all become vegetarians, the more reason to do it creatively.</p>
            </div>
            <div>
                <h2>The Broken Arm</h2>
                <h4>12, rue Perrée - 75003 Paris</h4>
                <p>They serve one of the best cappuccinos in Paris here. It really is the US embassy of Paris. And I like that it reminds me of Brooklyn.</p>
            </div>
            <div>
                <h2>Le musée de la vie romantique</h2>
                <h4>16 Rue Chaptal, 75009 Paris</h4>
                <p>The garden and the tearoom are exceptional. Plus, there is a cast of Chopin’s hand!</p>
            </div>
            <div>
                <h2>Le Raphaël</h2>
                <h4>17 Avenue Kléber, 75116 Paris</h4>
                <p>The terrace is like a hanging garden, it's very soothing. It gives the sensation that you're in the clouds, above the fray.</p>
            </div>
            <div>
                <h2>Le Grand Palais</h2>
                <h4>3 Avenue du Général Eisenhower, 75008 Paris</h4>
                <p>J’y vais très souvent. Le lieu et les expos sont aussi canon les uns que les autres.</p>
                <p>I come here very often. The place is as crazy and spectacular as the shows.</p>
            </div>
            <div>
                <h2>Le loir dans la théière</h2>
                <h4>3 Rue des Rosiers, 75004 Paris</h4>
                <p>It's a little ‘bobo’ crowd as we say in French. We are what we are! And as I spend a lot of time in coffee and tea shops for my appointments, I like this place.</p>
            </div>
            <div>
                <h2>Unesco</h2>
                <h4>7 Place de Fontenoy, 75007 Paris</h4>
                <p>20 years ago I was drawing live during general assembly meetings here. It certainly helped me to improvise, which is the basis of my current work. Today Elyx is a virtual ambassador to the United Nations, and so there remains a strong connection to this period.</p>
            </div>
            <div>
                <h2>Toraya</h2>
                <h4>10 Rue Saint-Florentin, 75001 Paris  01 42 60 13 00</h4>
                <p>This pastry shop is just the perfect bit of Japanese sophistication.</p>
            </div>
            <div>
                <h2>La place de la République / Cafe Monde et Medias</h2>
                <h4>18 Place de la République, 75010 Paris</h4>
                <p>La place de le Republique is the ‘spine’ of my Paris. It is the hub between all the places I love. Wherever I decide to go, north, east, west, south, there is something good to be found.  And I love the glass cube structure Café Monde et Médias in the center for a coffee.</p>
            </div>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
    </div>
</div>

<script src="/javascripts/slick.min.js"></script>
<link rel='stylesheet' href='/stylesheets/slick.css' />
<script src="/javascripts/custom/favourites.js"></script>
<script src="/javascripts/custom/image-tougle.js"></script>
<script type="text/javascript">
    $('.multiple-items').slick({
        dots: true,
        infinite: false,
        slidesToShow: 1,
        slidesToScroll: 1
    });
</script>