<div class="slick-wrapper">
    <div class="slider multiple-items" style="margin:30px 150px;">
        <div><a href="/scenarios-drunk">
            <img src="/images/carousel/scenarious/mini-scenarios-drunk.jpg"/>
        </a></div>
        <div><a href="/scenarios-pop-up-question"><img src="/images/carousel/scenarious/mini-scenarios-pop-up-question.jpg"/>
        </a></div>
    </div>
</div>

<script type="text/javascript">
    var slidesToShow = 2;
</script>