<div class="slider multiple-items" style="margin-top:30px;">
    <div><a href="/best-of-chinese"><img src="/images/carousel/chinese.jpg"/> </a></div>
    <div><a href="/best-of-frites"><img src="/images/carousel/firtes.jpg"/> </a></div>
    <div><a href="#"><img src="/images/carousel/croissants.jpg"/> </a></div>
    <div><a href="/best-of"><img src="/images/carousel/best-of.jpg"/> </a></div>
    <div><a href="#"><img src="/images/carousel/breads.jpg"/> </a></div>
</div>

<script type="text/javascript">
    var slidesToShow = 4;
</script>