<div class="slider multiple-items" style="margin-top:30px;">
    <div><a href="/coup-de-coeur-abri"><img src="/images/carousel/coup-de-coeur/mini-coup-de-coeur-abri.jpg"/> </a></div>
    <div><a href="/coup-de-coeur-aki"><img src="/images/carousel/coup-de-coeur/mini-coup-de-coeur-aki.jpg"/> </a></div>
    <div><a href="/coup-de-coeur-amorino"><img src="/images/carousel/coup-de-coeur/mini-coup-de-coeur-amorino.jpg"/> </a></div>
    <div><a href="/coup-de-coeur-blend"><img src="/images/carousel/coup-de-coeur/mini-coup-de-coeur-blend.jpg"/> </a></div>
    <div><a href="/coup-de-coeur-clint"><img src="/images/carousel/coup-de-coeur/mini-coup-de-coeur-clint.jpg"/> </a></div>
    <div><a href="/coup-de-coeur-marie-celeste"><img src="/images/carousel/coup-de-coeur/mini-coup-de-coeur-marie-celeste.jpg"/> </a></div>
    <div><a href="/coup-de-coeur-nanashi"><img src="/images/carousel/coup-de-coeur/mini-coup-de-coeur-nanashi.jpg"/> </a></div>
</div>

<script type="text/javascript">
    var slidesToShow = 4;
</script>