<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add Description</h4>
            </div>
            <div class="modal-body">
                <form id="save-desc" action="/descriptions/add" method="post" role="form">
                    <div class="form-group">
                        <label for="title" class="control-label">Title: </label>
                        <input type="text" id="title" name="desc[title]" class="form-control" placeholder="e.g Know, Eat, Drink.."/>
                    </div>
                    <div class="form-group">
                        <label for="desc_en" class="control-label">Description Eng: </label>
                        <textarea rows="4" cols="50" id="desc_en" name="desc[desc_en]" class="form-control"></textarea>
                    </div>
                    <!--<div class="form-group">
                        <label for="know_fr" class="control-label">Description Fra: </label>
                        <textarea rows="4" cols="50" id="know_fr" name="desc[desc_fr]" class="form-control"></textarea>
                    </div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit-button">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script src="/javascripts/custom/desc_modal_controller.js"></script>