<footer>
    <div class="container">
        <div class="col-xs-3 column">
            <h5><a href="/#about-the-app">about pariseats</a></h5>
        </div>
        <div class="col-xs-3 column">
            <h5><a href="#">more infatuation</a></h5>
            <div class="white social">
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
        <div class="col-xs-3 column">
            <h5><a href="mailto:contact@pariseats.com">email us</a></h5>
            <div class="white">
                <p><a href="mailto:contact@pariseats.com"><i class="fa fa-envelope" style="font-size:26px;"></i> contact@pariseats.com</a></p>
            </div>
        </div>
        <div class="col-xs-3 column">
            <h5><a href="/terms">terms of service</a></h5>
        </div>
    </div>
</footer>