<footer>
    <div class="container">
        <div class="col-xs-3 column">
            <h5><a href="/#about-the-app">about pariseats</a></h5>
        </div>
        <div class="col-xs-3 column">
            <h5><a href="#">more infatuation</a></h5>
            <div class="white social">
                <a href="https://instagram.com/paris.eats/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/pariseats"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/pariseats"><i class="fa fa-twitter"></i></a>
                <!--<a href="#"><i class="fa fa-pinterest"></i></a>-->
                #pariseats
            </div>
        </div>
        <div class="col-xs-3 column">
            <h5><a href="mailto:meredith@pariseats.com">email us</a></h5>
            <div class="white">
                <p style="padding-top:5px;"><a href="mailto:meredith@pariseats.com">meredith@pariseats.com</a></p>
            </div>
        </div>
        <div class="col-xs-3 column">
            <h5><a href="/terms">terms of service</a></h5>
        </div>
    </div>
</footer>