<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header" style="min-height: 77px;border-bottom:0;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Paris Eats"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="small hidden-xs hidden-print">
                <li>
                    <a href="" class="fb"></a>
                    <a href="" class="twitter"></a>
                    <a href="" class="gplus"></a>
                    <a href="" class="t"></a>
                    <a href="" class="photo"></a>
                    <a href="" class="email"></a>
                </li>
                {{#if session.user}}
                    <li>{{session.user.first_name}} {{session.user.last_name}}, <a href="/users/logout">logout</a></li>
                {{else}}
                    <li><a href="#" class="login-modal">login</a> or <a href="/users/register">register</a></li>
                {{/if}}
                <li><a href="#">about us</a></li>
                <li><a href="#">press</a></li>
            </ul>
            <ul class="nav navbar-nav big">
                <li {{#if home}}class="active"{{/if}}><a href="/">TASTE MAKERS</a></li>
                <li {{#if bestof}}class="active"{{/if}}><a href="/best-of">BEST-OF</a></li>
                <li {{#if coeur}}class="active"{{/if}}><a href="/coup-de-coeur-abri">COUP DE COEUR</a></li>
                <li {{#if scenarious}}class="active"{{/if}}><a href="/scenarios-drunk">SCENARIOS</a></li>
                <li class="hidden-xs {{#if map}}active{{/if}}"><a href="/map">CREATE YOUR MAP</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
