<div class="modal fade" id="photo-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add Photos</h4>
            </div>
            <div class="modal-body">
                <form action="/photos/upload" method="post" enctype="multipart/form-data" style="background:#fff;padding:20px;text-align: center; margin-bottom:50px;" id="upload-photo">
                    <input type="file" name="photos" style="text-align: center" multiple/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit-photo">Upload</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script src="/javascripts/custom/photo_modal_controller.js"></script>