<!doctype html>
<html style="background: #000;">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/final.css' />
    <link rel='stylesheet' href='/stylesheets/sidebar.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body style="background: #fff;">
    {{> header}}

    {{{body}}}

    {{> footer}}

    {{> login}}
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/custom/login.helper.js"></script>
    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-71777891-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>