<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/friendly.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>


{{> header}}


<div id="body-wr">
    <div class="navbar main-nav">
        <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="glyphicon glyphicon-align-justify"></i></a>
        <div class="pull-right user-settings">
            {{#if session.user}}
                Hi {{session.user.first_name}} , <a href="/users/logout">logout</a>
            {{else}}
                Hi, <a href="#" class="login-modal">login</a> <span class="glyphicon glyphicon-user"></span>
            {{/if}}
        </div>
    </div>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="glyphicon glyphicon-remove"></i></a>
            <li class="sidebar-brand">
                <a href="/">ParisEats</a>
            </li>
            <li {{#if home}}class="active"{{/if}}><a href="/">TASTE MAKERS</a></li>
            <li {{#if bestof}}class="active"{{/if}}><a href="/best-of">BEST-OF</a></li>
            <li {{#if coeur}}class="active"{{/if}}><a href="/coup-de-coeur-abri">COUP DE COEUR</a></li>
            <li {{#if scenarious}}class="active"{{/if}}><a href="/scenarios-drunk">SCENARIOS</a></li>
            <li><a href="#">CREATE YOUR MAP</a></li>
            <hr style="border-top: 1px solid red;margin-left: 20px;margin-right: 20px"/>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">CONTACT US</a></li>
        </ul>
    </nav>
    {{{body}}}
</div>

{{> login}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/custom/restauran-link.helper.js"></script>
<script src="/javascripts/custom/login.helper.js"></script>
<script src="/javascripts/custom/favourites.js"></script>
<script src="/javascripts/slick.min.js"></script>
<link rel='stylesheet' href='/stylesheets/slick.css' />

<script type="text/javascript">
    $('.multiple-items').slick({
        dots: false,
        infinite: false,
        slidesToShow: slidesToShow,
        slidesToScroll: 1,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: slidesToShow,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1
                }
            }
        ]
    });

    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>


</body>
</html>