<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/friendly.css' />
</head>
<body>


{{> header}}


<div class="container container-inner">
    <div class="starter-template">
        {{{body}}}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>