<div class="row" style="min-height:600px; margin-top: 150px;">
    <div class="container">
        <div class="alert alert-danger">
            <p>You are not authorized to access this page</p>
        </div>
    </div>
</div>