@font-face {
  font-family: FuturaExtended;
  src: url('../fonts/FuturaExtended.ttf');
}
html{min-height:100%; font: 14px FuturaLight, Helvetica, Arial, sans-serif;}
body{
  font: 14px FuturaExtended, Helvetica, Arial, sans-serif;
  padding-top: 70px;
  display: block;
  font: 14px FuturaExtended, Helvetica, Arial, sans-serif;
  color: #000;
  height:100%;
  background: url('img/body-back.jpg') no-repeat bottom center;
  div.img-wrapper{display: block;overflow: visible;position: relative;margin-top: 20px;width: 901px;
    div#home-chief-info{position:absolute;left:0;bottom:50px;display:block;width: 150px;};
    a[data-toggle="popover"]{position: absolute;width: 16px;height:16px;display:block;
      &.home-link-1{left:644px; bottom:290px;}
      &.home-link-2{left:687px; bottom:268px;}
      &.home-link-3{left:549px; bottom:475px;}
      &.home-link-4{left:488px; bottom:483px;width: 38px;height:38px;}
      &.home-link-5{left:269px; bottom:419px;}
      &.home-link-6{left:460px; bottom:329px;width: 25px;height:25px;}
      &.home-link-7{left:639px; bottom:259px;width: 25px;height:25px;}
      &.home-link-8{left:512px; bottom:170px;width: 25px;height:25px;}
      &.home-link-9{left:664px; bottom:422px;width: 25px;height:25px;}
      &.home-link-10{left:524px; bottom:398px;width: 40px;height:40px;}
      &.home-link-11{left:599px; bottom:379px;width: 25px;height:25px;}
      &.home-link-12{left:571px; bottom:348px;}
      &.home-link-13{left:374px; bottom:274px;}
      &.home-link-14{left:309px; bottom:160px;width: 40px;height:40px;}
      &.home-link-15{left:264px; bottom:266px;}
      &.home-link-16{left:245px; bottom:253px;}
      &.home-link-17{left:215px; bottom:353px;width: 25px;height:25px;}
      &.home-link-18{left:526px; bottom:456px;}
      &.home-link-19{left:386px; bottom:470px;width: 25px;height:25px;}
      &.home-link-20{left:435px; bottom:405px;}
      &.home-link-21{left:405px; bottom:380px;width: 25px;height:25px;}
      &.home-link-22{left:146px; bottom:329px;width: 40px;height:40px;}
      &.home-link-23{left:531px; bottom:276px;width: 40px;height:40px;}

      &.best-of-link-1{left:362px; bottom:338px;width: 195px;height:15px;}
      &.best-of-link-2{left:362px; bottom:307px;width: 195px;height:15px;}
      &.best-of-link-3{left:362px; bottom:278px;width: 195px;height:15px;}

      &.best-of-frites-2{left:228px; bottom:380px;width: 258px;height:36px;}
      &.best-of-frites-3{left:167px; bottom:332px;width: 254px;height:35px;}
      &.best-of-frites-4{left:206px; bottom:265px;width: 293px;height:38px;}

      &.best-of-chinese-1{left:44px; bottom:188px;width: 215px;height:50px;}
      &.best-of-chinese-2{left:44px; bottom:126px;width: 650px;height:50px;}
      &.best-of-chinese-3{left:44px; bottom:64px;width: 360px;height:50px;}

      &.best-of-croissants-1{left:50px; bottom:288px;width: 240px;height:55px;}
      &.best-of-croissants-2{left:53px; bottom:200px;width: 210px;height:55px;}
      &.best-of-croissants-3{left:50px; bottom:128px;width: 440px;height:55px;}

      &.best-of-breads-1{left:40px; bottom:422px;width: 555px;height:104px;}
      &.best-of-breads-2{left:385px; bottom:320px;width: 520px;height:60px;}
      &.best-of-breads-3{left:15px; bottom:100px;width: 765px;height:115px;}

      &.coup-de-coeur-1{left:60px; bottom:90px;width: 475px;height:75px;}
      &.coup-de-coeur-2{left:135px; bottom:143px;width: 490px;height:190px;}
      &.coup-de-coeur-3{left:140px; bottom:115px;width: 640px;height:160px;}
      &.coup-de-coeur-4{left:130px; bottom:85px;width: 505px;height:160px;}
      &.coup-de-coeur-5{left:320px; bottom:180px;width: 265px;height:265px;}
      &.coup-de-coeur-6{left:0px; bottom:0px;width: 425px;height:220px;}
      &.coup-de-coeur-7{left:85px; bottom:155px;width: 700px;height:240px;}

      &.scenarious-drunk-1{left:559px; bottom:232px;width: 45px;height:66px;}
      &.scenarious-drunk-2{left:540px; bottom:245px;width: 60px;height:80px;}
      &.scenarious-drunk-3{left:462px; bottom:141px;width: 80px;height:105px;}
      &.scenarious-drunk-4{left:435px; bottom:358px;width: 73px;height:115px;}
      &.scenarious-drunk-5{left:509px; bottom:375px;width: 50px;height:105px;}
      &.scenarious-drunk-6{left:474px; bottom:255px;width: 65px;height:100px;}
      &.scenarious-drunk-7{left:384px; bottom:307px;width: 53px;height:105px;}
      &.scenarious-drunk-8{left:318px; bottom:343px;width: 67px;height:110px;}
      &.scenarious-drunk-9{left:383px; bottom:206px;width: 43px;height:86px;}
      &.scenarious-drunk-10{left:601px; bottom:264px;width: 36px;height:100px;}
      &.scenarious-drunk-11{left:322px; bottom:64px;width: 65px;height:115px;}
      &.scenarious-drunk-12{left:305px; bottom:224px;width: 80px;height:83px;}

      &.scenarious-question-1{left:490px; bottom:298px;width: 180px;height:90px;}
      &.scenarious-question-2{left:680px; bottom:153px;width: 120px;height:165px;}
      &.scenarious-question-3{left:477px; bottom:82px;width: 105px;height:145px;}
      &.scenarious-question-4{left:520px; bottom:471px;width: 110px;height:80px;}
      &.scenarious-question-5{left:382px; bottom:297px;width: 109px;height:133px;}
      &.scenarious-question-6{left:245px; bottom:100px;width: 115px;height:145px;}
      &.scenarious-question-7{left:123px; bottom:170px;width: 115px;height:150px;}
      &.scenarious-question-8{left:270px; bottom:334px;width: 110px;height:145px;}
      &.scenarious-question-9{left:630px; bottom:390px;width: 190px;height:115px;}

    }
  }
  .close{font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}

}

.navbar-fixed-top{background:#fff;}
.container{background:none;padding:0;}

@media (min-width: 1200px){
  .container-inner{width: 980px;padding: 0 39px;}
}

.popover{border:0;box-shadow: 3px 3px 3px #888888;
  h1,h2,h3,h4,p,a{text-align: center;}
  .close{color:#5bc0de;font-weight:bold;font-size:18px;opacity:1;}
  .close:hover{color:#428bca;}
}

ul.small{clear: all; color: #535252;list-style: none;margin-top: 10px;overflow: auto;
  a{color: #535252;}
  li{float:right; padding: 0px 10px; border-right:#535252 1px solid;}
  li:first-child{border: none; margin-right: 0;overflow: auto;padding-right:0;
    a{display: block;width: 18px;height:15px;float:left;
      &.fb{background: url('img/social/fb.png') no-repeat center center;}
      &.twitter{background: url('img/social/twitter.png') no-repeat center center;}
      &.gplus{background: url('img/social/gplus.png') no-repeat center center;}
      &.t{background: url('img/social/t.png') no-repeat center center;}
      &.photo{background: url('img/social/photo.png') no-repeat center center;}
      &.email{background: url('img/social/email.png') no-repeat center center;}
    }
  }
}

ul.big{clear: all; color: #000000;list-style: none;margin-top: 10px;float: right;
  a{color: #000000;font-size:20px;font-weight:bold;}
  li{float:right; padding: 10px 10px 30px 10px;
    &.active a{color:#e64121;}
  }
  li:first-child{margin-right: 0;padding-right: 0; overflow: auto;background: url('img/nav-back.png') no-repeat center right;
    a{color:#fff !important;padding-right: 10px;}
    a:hover{background: none;}
  }
}

.slider div.inner-text{
  position: absolute;
  top: 40%;
  left: 0;
  display: block;
  width: 161px;
  text-align: center;
  color: #e64121;
}

span.success{color:#689f5b; background-color:#e8f0e5; padding:10px 15px;display:inline-block;}

.slider .active div.inner-text{color:#000 !important;}

#login-modal .modal-body{text-align:center;
  .close{color:#5bc0de;font-weight:bold;opacity:1;margin-top:-5px;}
  .close:hover{color:#428bca;}
  a{color:#e64121;
    &.btn{color:#fff; background:#43609c; border:0;}
  }
  div.fb-wrapper{text-align:center; padding:40px 0 10px 0;
    p{padding-top:10px; color: #a6a5a5;}
  }
  form{text-align: left;}
}

div.map-wr{font-size:20px; line-height: 1.5; text-align: center;padding-top:150px;font-weight:normal;
  a{color:#e64121;}
}

h1, h2, h3, h4{text-align:center;}

img.img-rounded-20{border-radius: 20px;}
.form-btn{color:#e64121;background:#e5e5e5;text-align:center;margin-top:30px;}
.form-btn:hover{color:#e64121;background:#c5c5c5;}

div.landmarks-wr, div.arrondisements-wr{text-align: left;
  a{opacity: 0.3}
  a.active{opacity: 1}
}