html{min-height:100%;}
body{
  padding: 50px;
  display: block;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #000;
  height:100%;
  background: url('img/body-back.jpg') no-repeat bottom center;
  div.img-wrapper{display: block;overflow: hidden;position: relative;margin-top: 20px;width: 901px;
    div#home-chief-info{position:absolute;left:0;bottom:50px;display:block;width: 150px;};
    a{position: absolute;width: 16px;height:16px;display:block;
      &.home-link-1{left:644px; bottom:290px;}
      &.home-link-2{left:687px; bottom:268px;}
      &.home-link-3{left:549px; bottom:475px;}
      &.home-link-4{left:488px; bottom:483px;width: 38px;height:38px;}
      &.home-link-5{left:269px; bottom:419px;}
      &.home-link-6{left:460px; bottom:329px;width: 25px;height:25px;}
      &.home-link-7{left:639px; bottom:259px;width: 25px;height:25px;}
      &.home-link-8{left:512px; bottom:170px;width: 25px;height:25px;}
      &.home-link-9{left:664px; bottom:422px;width: 25px;height:25px;}
      &.home-link-10{left:524px; bottom:398px;width: 40px;height:40px;}
      &.home-link-11{left:599px; bottom:379px;width: 25px;height:25px;}
      &.home-link-12{left:571px; bottom:348px;}
      &.home-link-13{left:374px; bottom:274px;}
      &.home-link-14{left:309px; bottom:160px;width: 40px;height:40px;}
      &.home-link-15{left:264px; bottom:266px;}
      &.home-link-16{left:245px; bottom:253px;}
      &.home-link-17{left:215px; bottom:353px;width: 25px;height:25px;}
      &.home-link-18{left:526px; bottom:456px;}
      &.home-link-19{left:386px; bottom:470px;width: 25px;height:25px;}
      &.home-link-20{left:435px; bottom:405px;}
      &.home-link-21{left:405px; bottom:380px;width: 25px;height:25px;}
      &.home-link-22{left:174px; bottom:329px;width: 40px;height:40px;}
      &.home-link-23{left:531px; bottom:276px;width: 40px;height:40px;}
    }
  }
}

.container{background:#fff;}

@media (min-width: 1200px){
  .container-inner{width: 980px;}
}