<div class="row" style="margin-top: 150px; margin-bottom: 100px;">
    <div class="col-xs-2 col-lg-3"></div>
    <div class="col-xs-9 col-lg-8">
        <h1>Reset Password Email is on it's way!</h1>

        <h4>After clicking on reset password link you'll be prompt to enter your new password</h4>


    </div>
</div>