<h1>CHOOSE MAP</h1>

<div class="row" style="margin-top:50px;text-align: center;">
    <form action="/map/choose" method="post" role="form">
        <div class="col-lg-4" style="text-align:left;">
            <label class="radio-inline">
                <input type="radio" value="minimal" name="map">
                minimal
                <img src="/images/maps/small/minimal.jpg" style="margin-top:10px;margin-left: -30px;border:1px solid #cccccc" class="img-rounded-20"/>
            </label>

        </div>
        <div class="col-lg-4">
            <label class="radio-inline" style="text-align:left;">
                <input type="radio" value="basic" name="map">
                basic
                <img src="/images/maps/small/basic.jpg" style="margin-top:10px;margin-left: -30px;border:1px solid #cccccc" class="img-rounded-20"/>
            </label>
        </div>
        <div class="col-lg-4">
            <label class="radio-inline" style="text-align:left;">
                <input type="radio" value="graphic" name="map">
                graphic
                <img src="/images/maps/small/graphic.jpg" style="margin-top:10px;margin-left: -30px;border:1px solid #cccccc" class="img-rounded-20"/>
            </label>
        </div>

        <button class="btn btn-lg form-btn">Next</button>
    </form>
</div>