<div class="map-wr" style="padding-top: 50px;">
    <h1>Select Landmarks</h1>
    <p>Think of it as stickers on your map.<br/>
       Just click to add
    </p>
</div>

    <form action="/map/landmarks" method="post" role="form" style="background:#fff;padding:20px;text-align: center; margin-bottom:50px;" id="landmarks">
        <input type="hidden" name="map[id]" value="{{id}}" />
        <div class="row">
            <div class="col-lg-8">
                <h4>Landmarks</h4>
                <div class="landmarks-wr">
                    <a href="#" data-id="1"><img src="/images/landmarks/landmark1.png"></a>
                    <a href="#" data-id="2"><img src="/images/landmarks/landmark2.png"></a>
                    <a href="#" data-id="3"><img src="/images/landmarks/landmark3.png"></a>
                    <a href="#" data-id="4"><img src="/images/landmarks/landmark4.png"></a>
                    <a href="#" data-id="5"><img src="/images/landmarks/landmark5.png"></a>
                    <a href="#" data-id="6"><img src="/images/landmarks/landmark6.png"></a>
                    <a href="#" data-id="7"><img src="/images/landmarks/landmark7.png"></a>
                    <a href="#" data-id="8"><img src="/images/landmarks/landmark8.png"></a>
                    <a href="#" data-id="10"><img src="/images/landmarks/landmark10.png"></a>
                    <a href="#" data-id="11"><img src="/images/landmarks/landmark11.png"></a>
                    <a href="#" data-id="12"><img src="/images/landmarks/landmark12.png"></a>
                    <a href="#" data-id="13"><img src="/images/landmarks/landmark13.png"></a>
                    <a href="#" data-id="18"><img src="/images/landmarks/landmark18.png"></a>
                    <a href="#" data-id="21"><img src="/images/landmarks/landmark21.png"></a>
                    <a href="#" data-id="16"><img src="/images/landmarks/landmark16.png"></a>
                    <a href="#" data-id="17"><img src="/images/landmarks/landmark17.png"></a>
                    <a href="#" data-id="14"><img src="/images/landmarks/landmark14.png"></a>
                    <a href="#" data-id="19"><img src="/images/landmarks/landmark19.png"></a>
                    <a href="#" data-id="20"><img src="/images/landmarks/landmark20.png"></a>
                    <a href="#" data-id="15"><img src="/images/landmarks/landmark15.png"></a>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Arrondisements</h4>
                <div class="arrondisements-wr">
                    <a href="#" data-id="1"><img src="/images/arrondisements/arrondisement1.png"></a>
                    <a href="#" data-id="3"><img src="/images/arrondisements/arrondisement3.png"></a>
                    <a href="#" data-id="2"><img src="/images/arrondisements/arrondisement2.png"></a>
                    <a href="#" data-id="4"><img src="/images/arrondisements/arrondisement4.png"></a>
                    <a href="#" data-id="17"><img src="/images/arrondisements/arrondisement17.png"></a>
                    <a href="#" data-id="20"><img src="/images/arrondisements/arrondisement20.png"></a>
                    <a href="#" data-id="5"><img src="/images/arrondisements/arrondisement5.png"></a>
                    <a href="#" data-id="6"><img src="/images/arrondisements/arrondisement6.png"></a>
                    <a href="#" data-id="18"><img src="/images/arrondisements/arrondisement18.png"></a>
                    <a href="#" data-id="19"><img src="/images/arrondisements/arrondisement19.png"></a>
                    <a href="#" data-id="7"><img src="/images/arrondisements/arrondisement7.png"></a>
                    <a href="#" data-id="8"><img src="/images/arrondisements/arrondisement8.png"></a>
                    <a href="#" data-id="9"><img src="/images/arrondisements/arrondisement9.png"></a>
                    <a href="#" data-id="10"><img src="/images/arrondisements/arrondisement10.png"></a>
                    <a href="#" data-id="13"><img src="/images/arrondisements/arrondisement13.png"></a>
                    <a href="#" data-id="14"><img src="/images/arrondisements/arrondisement14.png"></a>
                    <a href="#" data-id="11"><img src="/images/arrondisements/arrondisement11.png"></a>
                    <a href="#" data-id="12"><img src="/images/arrondisements/arrondisement12.png"></a>
                    <a href="#" data-id="16"><img src="/images/arrondisements/arrondisement16.png"></a>
                    <a href="#" data-id="15"><img src="/images/arrondisements/arrondisement15.png"></a>
                </div>
            </div>
        </div>
    <button class="btn btn-lg form-btn">Next</button>
</form>

<script type="text/javascript" src="/javascripts/custom/landmarks.js" />