<div class="map-wr">
    <p>Hi {{session.user.first_name}}<br/>
        Let's create a funky Paris map based on your<br/>
        favorite resto's. It will only take 2 minutes of<br/>
        your time and you can late share it with your<br/>
        friends.
    </p>

    <p>There are only 3 steps</p>

    <a href="/map/choose-map">Let's start</a>
</div>