<div class="map-wr">
    <p>Hi {{session.user.first_name}},<br/>
        It seems you don't have any restaurants faved.<br/>
        In order to create the map you need some<br/>
        restaurants in your list. Browse thru our <a href="/best-of">best-of<br/>
        list</a> or listen to what our <a href="/">taste makes say</a>.
    </p>

    <p>Click on a restaurant and add ti to your list.</p>
</div>