<div class="map-wr">
    <p>Hi there,<br/>
        It seems we were not introduced. Please take<br/>
        some time, <a href="/users/login" class="login-modal">login</a> and let us know a little about<br/>
        yourself. Add some restaurants to your list and<br/>
        we'll be more then happy to create your map.
    </p>
</div>