{{#if error}}
    <div class="alert alert-danger">
        <p>{{error}}</p>
    </div>
{{else}}
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-8">
            <img src="/uploads/{{map.photo}}" width="150">
        </div>
    </div>
{{/if}}
