<h1>List of restaurants</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each restaurants}}
        <tr>
            <td>{{name}}</td>
            <td>{{address}}</td>
            <td>
                {{#if ../session.user}}
                    <a href="#" data-id="{{id}}" class="remove-restaurant"> <span class="glyphicon glyphicon-remove"></span> remove</a>
                {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>